* body  {
  font-family:'Bellefair', serif;
}

.navbar {
  background-color:white;
  font-size: 20px;
  margin-bottom: 0;
}

.nav {
  margin-top: 30px;
}

.logo {
  width: 15%;
  height: 15%;
  margin: 15px;
  display: inline-block;
}

.slider {
  width: 70%;
  height: 300px;
}

.item {
  height: 300px;
}

.item h1 {
    background-color: rgb(12, 131, 67);
}

.list-group-item {
  width: 20%;
  background-color: rgb(12, 131, 67);
  color: white;
  font-size: 15px;
  padding: 20px;
}
/*aplicando flip */
.card-grid {
  height: 70vh;
  width: 80%;
  padding: 31px;
  box-sizing: border-box;
}
#aliment {
  margin: 17px 8px;
}
.img-responsive {
  border: 2px solid rgb(12, 131, 67);
}
p {
  font-size: 24px;
  color: rgb(12, 131, 67);
  margin-top: 4rem;
}
/* desktop */
@media (min-width:920px) {
  .view-mobile {
    display: none;
  }
  .view-desktop {
    display: block;
  }
  .card-grid {
    height: 90vh;
    width: 80%;
    padding: 50px;
    box-sizing: border-box;
  }
  
}@media (min-width:920px) {
  .view-mobile {
    display: none;
  }
  .view-desktop {
    display: block;
  }
  .card-grid {
    height: 90vh;
    width: 80%;
    padding: 50px;
    box-sizing: border-box;
  }
  
}
/* estilos de eventos.html */
.flip img {
  height: 40vh;
  width: 90%;
  margin-top:12px;
}
.flip-text {
  position: absolute;
  margin: -26rem auto;
  color: rgb(241, 241, 241);
  background: rgba(49, 47, 47, 0.6);
  width: 82%;
  text-align: center;
  height: 40vh;
}
@media (min-width:720px) {
  .view-mobile {
    display: none;
  }

  .view-desktop {
    display: block
  } 
  .flip-text {
    margin: -27rem auto;
    width: 84%;   
  }
}

.row {
  margin-left: 0px;
}

