* body  {
  font-family:'Bellefair', serif;
}

.navbar {
  background-color:white;
  font-size: 20px;
  margin-bottom: 0;
}

.nav {
  margin-top: 30px;
}

.logo {
  width: 15%;
  height: 15%;
  margin: 15px;
  display: inline-block;
}

.slider {
  width: 70%;
  height: 300px;
}

.item {
  height: 300px;
}

.item h1 {
    background-color: rgb(12, 131, 67);
}

.list-group-item {
  width: 20%;
  background-color: rgb(12, 131, 67);
  color: white;
  font-size: 15px;
  padding: 20px;
}
/*aplicando flip */
.card-grid {
  height: 70vh;
  width: 80%;
  padding: 5px;
  box-sizing: border-box;
}
#aliment {
  margin: 17px 8px;
}
p {
  font-size: 24px;
  color: rgb(12, 131, 67);
  margin-top: 4rem;
}
/* desktop */
@media (min-width:920px) {
  .view-mobile {
    display: none;
  }
  .view-desktop {
    display: block;
  }
  .card-grid {
    height: 90vh;
    width: 80%;
    padding: 50px;
    box-sizing: border-box;
  }
  
}
