* body  {
  font-family:'Bellefair', serif;
}

.navbar {
  background-color:white;
  font-size: 20px;
  margin-bottom: 0;
}

.nav {
  margin-top: 30px;
}

.logo {
  width: 15%;
  height: 15%;
  margin: 15px;
  display: inline-block;
}

.slider {
  width: 70%;
  height: 300px;
}

.item {
  height: 300px;
}

.item h1 {
    background-color: rgb(12, 131, 67);
}

.list-group-item {
  width: 20%;
  background-color: rgb(12, 131, 67);
  color: white;
  font-size: 15px;
  padding: 20px;
}

#box-image {
  margin: 25px;
}

#myForm {
  margin-bottom: 25px;
}

#text{
  outline-color: rgb(12, 131, 67);
  margin-left: 15px;
}

#button {
  background-color: rgb(12, 131, 67);
  color: white;
}

.foto1 {
  border: 1px solid rgb(12, 131, 67);
  height: 167px;
  margin-left: 15px;
  background-image: url("../assets/images/carrusel-1.jpg");
}

.foto2 {
  border: 1px solid rgb(12, 131, 67);
  height: 167px;
  margin-left: 15px;
  background-image: url("../assets/images/carrusel-3.jpg");
}

.datos {
  border: 1px solid rgb(12, 131, 67);
  height: 167px;
  margin-left: 15px;
}

.img-perfil {
  width: 10%;
  height: 10%;
}

.rest {
  margin: 25px;
}
