* body {
  font-family:'Bellefair', serif;
}
.view-desktop {
  width: 100%;
}
.logo {
  width: 15%;
  height: 15%;
  margin: 15px;
  display: inline-block;
}
span {
  color: rgb(12, 131, 67); 
}
.btn {
  margin-left: 6rem;
  margin-top: -1rem;
}
.sign {
  margin-top: -1rem;
}
#signup {
  margin: auto;
}
h3 {
  color: rgb(12, 131, 67); 
}
@media (min-width:920px) {
  .view-mobile {
    display: none;
  }
  .view-desktop {
    display: block;
  }
  .title  {
    margin-top: 5rem;
    margin-left: 21%;
    display:inline-block;
  }
  .text-center {
    font-size: 7rem;
  }
}

.errores{
  -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius:10px;
  -webkit-border-radius: 10px;
  background: red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  font-size: 12px;
  margin-top: -40px;
  margin-left: 250px;
  padding: 10px;
  position: absolute;
}
.errores:before{ /* Este es un truco para crear una flechita */
  content: '';
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #BC1010;
  border-left: 8px solid transparent;
  left: -16px;
  position: absolute;
  top: 5px;
}