<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Green Food</title>
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">    
    <link href="../css/main.css" rel="stylesheet">  
  </head>
  <body id="bg" class="view-mobile view-desktop col-xs-12 ">
    <h1>Green Food</h1>
    <div class="" >
        <a class="btn btn-lg btn-group" href="../views/login.html" role="button">LONG IN</a>
        <a class="btn btn-lg btn-group" href="../views/sign-up.html" role="button">SIGN UP</a>
    </div>
      
  <!-- jQuery library -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>  
  <script src="../js/inicio.js"></script>
  </body>
</html>