<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>GreenFood</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    <link rel="stylesheet" href="../css/perfil.css">
  </head>
  <body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="logo" src="../assets/images/logo.png" alt="">
          </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="mi-perfil" href="../views/user.html">Mi perfil</a></li>
            <li><a href="../views/comunidad.html">Comunidad</a></li>
            <li><a href="../views/rest.html">Restaurantes</a></li>
            <li><a href="../views/aliment.html">Alimentos</a></li>
            <li><a href="../views/eventos.html">Eventos</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    </header>
<div class="rest">
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../assets/images/carrusel-1.jpg" alt="...">
      <div class="caption">
        <h3>Saqra Restaurante</h3>
        <p> <h4>Dirección: Av. la Paz 646, Miraflores Lima 18</h4>
<h4>Horario: Hoy abierto · 12–23</h4>
<h4>Teléfono: (01) 6508884</h4>
<h4>Reservas: restorando.com.pe</h4></p>
        <p><a href="https://lima.restorando.com.pe/" target="_blank" class="btn btn-default" role="button">Ver mas</a></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../assets/images/carrusel-2.jpg" alt="...">
      <div class="caption">
        <h3>Vegetales Restaurante</h3>
        <p> <h4>Dirección: Av. la Paz 646, Miraflores Lima 18</h4>
<h4>Horario: Hoy abierto · 12–23</h4>
<h4>Teléfono: (01) 6508884</h4>
<h4>Reservas: restorando.com.pe</h4></p>
        <p><a href="https://lima.restorando.com.pe/" target="_blank" class="btn btn-default" role="button">Ver mas</a></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="../assets/images/carrusel-3.jpg" alt="...">
      <div class="caption">
        <h3>Mundo ligth Restaurante</h3>
        <p> <h4>Dirección: Av. la Paz 646, Miraflores Lima 18</h4>
<h4>Horario: Hoy abierto · 12–23</h4>
<h4>Teléfono: (01) 6508884</h4>
<h4>Reservas: restorando.com.pe</h4></p>
        <p><a href="https://lima.restorando.com.pe/" target="_blank" class="btn btn-default" role="button">Ver mas</a></p>
    </div>
  </div>



    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/user.js"></script>
  </body>
</html>
