<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Green Food</title>
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">    
    <link href="../css/sign.css" rel="stylesheet">  
  </head>
  <body>
    <nav class = "view-mobile view-desktop">
        <img class="logo" src="../assets/images/logo.png" alt="logo">
        <span class=" title"><h1 class="text-center">Green Food</h1></span> 
    </nav>
    <div class="row view-mobile view-desktop">
      <div class="col-xs-4 col-sm-1 col-sm-offset-4" >
        <a href="../views/inicio.html" type="button" class="btn">
          <span class="glyphicon glyphicon-menu-left" aria-hid den="true"></span>
        </a>
      </div>
      <div class="col-xs-6 col-sm-1 col-sm-offset-1" >
        <h3 class="sign">Sign Up</h3>
      </div>
    </div>
    <div class="container view-mobile view-desktop">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
          <hr>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
            <input id="user" type="text" name ="user" class="form-control firstName" aria-describedby="inputGroupSuccess3Status" placeholder="First name">
            <div id="mensaje1" class="errores"> Ingresa solo caracteres</div>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
            <input id="lastuser" type="text" name ="lastuser"  class="form-control firstName" aria-describedby="inputGroupSuccess3Status" placeholder="Last name">
            <div id="mensaje2" class="errores"> Ingresa solo caracteres</div>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
            <input id="email" type="email" class="form-control" aria-describedby="inputGroupSuccess3Status" placeholder="Email">
            <div id="mensaje3" class="errores"> Ingresa solo caracteres</div>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>
            <input id="password" type="password" class="form-control"  placeholder="Password">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>
            <input id="password2" type="password" class="form-control"  placeholder="Repeat password">
          </div>
          <div class="checkbox">
            <label>
              <input id="check" type="checkbox"> I accept the <a href="#">Terms of Service</a>
            </label>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2  view-mobile view-desktop">
              <button id="signup" type="button" class="btn btn-default btn-lg center-block" disabled="disabled">SingUp</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      
  <!-- jQuery library -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>  
  <script src="../js/sign.js"></script>
  </body>
</html>